@media only screen and (min-width: 577px) {
	.header_carousel{
		margin: 0px 130px;
	}
	#header_carousel .p-6{
		padding: 50px;
	}
	#header_carousel .active.center .p-6{
		-webkit-transform: scale(1.4);
		transform: scale(1.4);
	}
	.benefits_container{
		margin: 50px 150px 25px 120px;
		padding-left: 30px;
	}
	.submitted_logo{
		width: 20%;
		margin-top: -80px;
	}
	.submitted_img{
		width: 50%;
	}
}

@media only screen and (max-width: 576px) {
	/* Global classes for mobile */
	.mfo-35 {
		font-size: 35px!important;
	}
	.mfo-32 {
		font-size: 32px!important;
	}
	.mfo-30 {
		font-size: 30px!important;
	}
	.mfo-28 {
		font-size: 28px!important;
	}
	.mfo-25 {
		font-size: 25px!important;
	}
	.mfo-24 {
		font-size: 24px!important;
	}
	.mfo-22 {
		font-size: 22px!important;
	}
	.mfo-20 {
		font-size: 20px!important;
	}
	.mfo-18 {
		font-size: 18px!important;
	}
	.mfo-17 {
		font-size: 17px!important;
	}
	.mfo-16 {
		font-size: 16px!important;
	}
	.mfo-15 {
		font-size: 15px!important;
	}
	.mfo-14 {
		font-size: 14px!important;
	}
	.mfo-13 {
		font-size: 13px!important;
	}
	.mfo-12 {
		font-size: 12px!important;
	}
	.mfo-11 {
		font-size: 11px!important;
	}
	.mfo-10 {
		font-size: 10px!important;
	}
	.mow-100 {
		width: 100%!important;
	}
	/* Custom classes */
	header{
		height: 125vh;
	}
	.header_form{
		background: rgba(255,255,255,0.85);
		height: 115vh;
	}
	.header_carousel{
		margin: 30px 60px 0px 60px;
	}
	.owl-nav .owl-prev {
	    left: -20%;
	}
	.owl-nav .owl-next {
	    right: -20%;
	}
	.benefits_container{
		margin: 20px 20px 10px 10px;
		padding-left: 10px;
	}
	.submitted_logo{
		width: 40%;
	}
	.submitted_img{
		width: 60%;
	}
}